* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
}

/* THREE CANVAS */
canvas {
  position: fixed;
  inset: 0;
  z-index: -2;
}

/* NEON CURSOR */
.cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  border: 2px solid cyan;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo { color: cyan; }

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li { margin-left: 25px; }

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a.active,
.navbar a:hover {
  color: cyan;
}

/* HERO */
.hero {
  min-height: 100vh;
  padding-top: 150px;
  text-align: center;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid cyan;
  box-shadow: 0 0 30px cyan;
  animation: float 4s ease-in-out infinite;
}

.hero h1 {
  font-size: 48px;
  margin-top: 20px;
}

#typing {
  color: cyan;
  margin-top: 10px;
}

/* BUTTONS */
.buttons { margin-top: 25px; }

.btn,
.btn-outline {
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.btn {
  background: cyan;
  color: black;
}

.btn-outline {
  border: 2px solid cyan;
  color: white;
}

/* SOCIAL */
.socials a {
  margin: 0 10px;
  color: white;
}

/* SECTIONS */
section {
  padding: 130px 20px;
  text-align: center;
}

section h1 {
  font-size: 40px;
  color: cyan;
  margin-bottom: 40px;
}

.card {
  max-width: 520px;
  margin: 25px auto;
  padding: 25px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,255,255,0.2);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 35px cyan;
}

/* CONTACT */
form {
  max-width: 500px;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: black;
  border: 2px solid cyan;
  color: white;
  border-radius: 8px;
}

/* REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes float {
  50% {
    transform: translateY(-15px);
  }
}
